@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared Styles */
body {
  background: #1a0b2e;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(to bottom left, #fb09b4, #9100f8, #f7e93f);
}

/* Shared Styles End */

/* Header Styles */
.header {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2.5rem;
}

.brand span {
  color: transparent;
  background: linear-gradient(to bottom left, #fb09b4, #9100f8, #f7e93f);
  background-clip: text;
}
.nav-menu {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-menu .nav-item {
  list-style: none;
}

.nav-menu .nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-menu .nav-link:hover {
  color: violet;
  border-bottom: 2px solid violet;
  transition: 0.2s ease-out;
}

/* Banner style */
.banner {
  background: url("../assets/hero-bg.png") no-repeat;
  background-size: cover;
  text-align: center;

  margin-top: 100px;
  margin-bottom: 100px;
}

.banner-container {
  position: relative;
}

.banner .img {
  position: absolute;
  top: 5.313rem;
  left: 35.625rem;
}

.banner .new {
  position: absolute;
  top: 30px;
  right: 460px;
  background: #00ff88;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.banner .banner-title {
  font-size: 3.8rem;
  font-weight: 900;
}

.banner .banner-description {
  font-size: 1rem;
  margin: 25px 0;
  opacity: 0.8;
}

.banner-button .btn-outline {
  padding: 10px 20px;
  border: 1px solid #00ff88;
  font-weight: 600;
  border-radius: 20px;
  background: transparent;
  font-weight: 600;
  color: #00ff88;
}

/* Header Styles End */

/* Podcast section */
.podcast {
  max-width: 1100px;
  margin: 100px auto;
  text-align: center;
}

.podcast .podcast-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.podcast .podcast-description {
  opacity: 0.8;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 150px;
}

.podcast-container {
  display: flex;
  justify-content: space-between;
}

.podcast-container .title {
  font-size: 3rem;
  color: #00ff88;
  font-weight: 900;
}

.podcast-container .description {
  opacity: 0.8;
}

/* Feature Section */
.features {
  max-width: 1100px;
  margin: 100px auto;
}

.feature-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}

.feature-container {
  display: flex;
  justify-content: center;
  gap: 85px;
  margin-bottom: 100px;
}

.feature-card {
  width: 326px;
  background: #250d44;
  padding: 10px;
  border-radius: 15px;
}

.feature-card .feature-video-title {
  font: 700;
  font-size: 1.5rem;
}
.feature-card .feature-video-description {
  opacity: 0.6;
  margin: 15px 0;
}

.feature-card .clock {
  margin-right: 10px;
}

.feature-card span {
  color: #00ff88;
}

.featrue-host .feautre-host-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.feature-host-card {
  display: flex;
  align-items: center;
  gap: 50px;
  background: #250d44;
  border-radius: 35px;
  padding: 30px;
}

.feature-host-card .host-name {
  font-size: 2rem;
  font-weight: 700;
}

.feature-host-card .host-description {
  opacity: 0.6;
  margin: 20px 0;
}

.feature-host-card .host-social {
  display: flex;
  align-items: center;
  gap: 30px;
}
.feature-host-card .host-social img {
  border: 1px solid #9100f8;
  padding: 20px;
  border-radius: 100%;
}

/* Footer Styles Start */
.footer {
  width: 100%;
  background: url("../assets/footer-bg.png") no-repeat;
  background-size: contain;

  text-align: center;
  padding: 85px;
}

.footer .footer-brand {
  font-size: 3rem;
  font-weight: 700;
}

.footer .footer-brand span {
  color: transparent;
  background: linear-gradient(to bottom left, #fb09b4, #9100f8, #f7e93f);
  background-clip: text;
}

.footer .footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}

.footer .footer-copyright {
  color: #fafafa;
}
/* Footer Styles End */
